
# --- PostgreSQL (RDS AWS) ---
# Obtenha DB_HOST com: terraform -chdir=../terraform-soat output rds_host
POSTGRES_HOST=SEU_RDS_ENDPOINT_AQUI
POSTGRES_PORT=5432
POSTGRES_DB=techchallengedb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Connection string completa para a API .NET / Entity Framework
ConnectionStrings__DefaultConnection=Host=${POSTGRES_HOST};Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}

# --- API ---
API_PORT=8080

# --- JWT ---
JWT_SECRET=QiIRd2qKY47zz0b8J367SqKaOYOPBTCu
JWT_ISSUER=TechChallenge
JWT_AUDIENCE=techchallenge.com.br

# --- Resend Email ---
RESEND_API_KEY=sua_api_key_do_resend_aqui
