
# --- PostgreSQL
POSTGRES_DB=techchallengedb-dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=SUA_SENHA_AQUI

# --- API
API_PORT=8080

# --- JWT
JWT_SECRET=SEU_SECRET_JWT_AQUI
JWT_ISSUER=TechChallenge
JWT_AUDIENCE=techchallenge.com.br
